{%- from "_macros/image.njk" import image, responsiveImage %}
{%- if srcset %}
  {{ responsiveImage(dataResponsiveImageSrc, dataResponsiveImageStyles, src, srcset, sizes, alt, title) }}
{%- else %}
  {{ image(src, alt, title) }}
{%- endif %}
