<figure>
  <iframe width="{{ width }}" height="{{ height }}" src="https://www.youtube.com/embed/{{ mediaId }}" frameborder="0"></iframe>
  {%- if title %}
  <figcaption>{{ title }}</figcaption>
  {%- endif %}
</figure>
