.toco-region-header {
  display: block;
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #008bb2;
  /*** arrows (for all except IE7) **/
  /* styling for both css and generated arrows */
  /* styling for right-facing arrows */ }
  .toco-region-header::after {
    clear: both;
    content: "";
    display: table; }
  .toco-region-header .sf-menu {
    font-family: 'sans-serif';
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0 auto 1.5em;
    padding: 0; }
  .toco-region-header .sf-menu,
  .toco-region-header .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none; }
  .toco-region-header .sf-menu li {
    position: relative; }
  .toco-region-header .sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99; }
  .toco-region-header .sf-menu > li {
    float: left; }
  .toco-region-header .sf-menu li:hover > ul,
  .toco-region-header .sf-menu li.sfHover > ul {
    display: block; }
  .toco-region-header .sf-menu a {
    display: block;
    position: relative; }
  .toco-region-header .sf-menu ul ul {
    top: 0;
    left: 100%; }
  .toco-region-header .sf-menu {
    float: left; }
  .toco-region-header .sf-menu ul {
    min-width: 12em;
    /* allow long menu items to determine submenu width */
    *width: 12em;
    /* no auto sub width for IE7, see white-space comment below */ }
  .toco-region-header .sf-menu a {
    padding: 0.75em 1em;
    text-decoration: none;
    zoom: 1;
    /* IE7 */ }
  .toco-region-header .sf-menu a {
    color: #fff; }
  .toco-region-header .sf-menu li {
    background: #008bb2;
    white-space: nowrap;
    /* no need for Supersubs plugin */
    *white-space: normal;
    /* ...unless you support IE7 (let it wrap) */
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none; }
  .toco-region-header .sf-menu ul li {
    background: #006d8c; }
  .toco-region-header .sf-menu ul ul li {
    background: #006d8c; }
  .toco-region-header .sf-menu li:hover,
  .toco-region-header .sf-menu li.sfHover {
    background: #008bb2;
    /* only transition out, not in */
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none; }
  .toco-region-header .sf-menu > li:hover,
  .toco-region-header .sf-menu > li.sfHover {
    background: #006d8c;
    /* only transition out, not in */
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none; }
  .toco-region-header .sf-arrows .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em;
    /* no CSS arrows for IE7 (lack pseudo-elements) */ }
  .toco-region-header .sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    /* order of following 3 rules important for fallbacks to work */
    border: 5px solid transparent;
    border-top-color: #b3dce8;
    /* edit this to suit design (no rgba in IE8) */
    border-top-color: rgba(255, 255, 255, 0.5); }
  .toco-region-header .sf-arrows > li > .sf-with-ul:focus:after,
  .toco-region-header .sf-arrows > li:hover > .sf-with-ul:after,
  .toco-region-header .sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #fff;
    /* IE8 fallback colour */ }
  .toco-region-header .sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #b3dce8;
    /* edit this to suit design (no rgba in IE8) */
    border-left-color: rgba(255, 255, 255, 0.5); }
  .toco-region-header .sf-arrows ul li > .sf-with-ul:focus:after,
  .toco-region-header .sf-arrows ul li:hover > .sf-with-ul:after,
  .toco-region-header .sf-arrows ul .sfHover > .sf-with-ul:after {
    border-left-color: #fff; }
