bower_components
node_modules
npm-debug.log
temp/
*.orig

# IDE files
nbproject
.idea
.netbeans.xml

# Test output
test/data/dist/
test/data/files/js/
test/data/files/math/
test/data/files/styles/
test/data/temp/
