{%- macro image(src, alt="", title="") %}
<figure>
  <img src="{{ src }}" alt="{{ alt }}" />
  {%- if title %}
  <figcaption>{{ title }}</figcaption>
  {%- endif %}
</figure>
{%- endmacro %}

{%- macro responsiveImage(dataResponsiveImageSrc, dataResponsiveImageStyles, src, srcset, sizes="", alt="", title="") %}
<figure>
  <img data-responsive-image-src="{{ dataResponsiveImageSrc }}" data-responsive-image-styles="{{ dataResponsiveImageStyles }}" sizes="{{ sizes }}" srcset="{{ srcset }}" alt="{{ alt }}" />
  {%- if title %}
  <figcaption>{{ title }}</figcaption>
  {%- endif %}
</figure>
{%- endmacro %}
